[Unit]
Description= OSRS GE Ripper

[Service]
User=charles
ExecStart= /bin/bash -c "source /home/charles/runescape/.venv/bin/activate && trade_seeker"
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target
