[Unit]
Description= OSRS Message Capture Service

[Service]
User=charles
ExecStart= /bin/bash -c "cd /home/charles/app/consumer && export KAFKA_BROKER="10.0.0.20:9092" && source /home/charles/.venvs/runespreader/bin/activate && consumer worker -l info -p 6067"
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target

