[Unit]
Description= OSRS Bot
[Service]
User=charles
ExecStart= /bin/bash -c "source /home/charles/.venvs/runespreader/bin/activate && discord_bot"
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target
